[Desktop Entry]
Name=Lock Screen
Exec=/home/ashique/.lock/lock_screen.sh
Comment=Lock screen and turn off display
Terminal=false
Icon=system-lock-screen
Type=Application
